/* Chat Input */
.chat-input-container{
    display: flex;
    margin-bottom: 60px;
}

.input-box{
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 10px;
    border-width: 1px;
    flex-grow: 1;
    outline: none;
}

.send-btn{
    background-color: rgb(25, 135, 84);
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    color: #fff;
    margin-left: 10px;
    cursor: pointer;
}

.spinner{
    margin: -15px;
    height: 40px;
}