/* Chat Messages */
.chat-message-container{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-size: 18px;
    flex-grow: 1;
    overflow-y: scroll;
}

.chat-message-container::-webkit-scrollbar{
    width: 10px;
}

.chat-message-container::-webkit-scrollbar-track{
    background: #f1f1f1;
    border-radius: 10px;
}

.chat-message-container::-webkit-scrollbar-thumb{
    background: #888;
    border-radius: 10px;
}

.chat-message-robot, .chat-message-user{
    margin: 20px 5px;
    align-items: start;
}
.chat-message-user{
    display: flex;
    justify-content: right;
}

.chat-message-robot{
    display: flex;
    justify-content: left;
}

.chat-message-text{
    background-color: rgb(238, 238, 238);
    padding: 15px 20px;
    border-radius: 10px;
    margin: 0 10px ;
}

.chat-message-profile{
    width: 50px;
}

.user-profile{
    border-radius: 50%;
    object-fit: cover;
}