body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.App-container{
    max-width: 600px;
    margin: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Chat Input */
.chat-input-container{
    display: flex;
    margin-bottom: 60px;
}

.input-box{
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 10px;
    border-width: 1px;
    flex-grow: 1;
    outline: none;
}

.send-btn{
    background-color: rgb(25, 135, 84);
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    color: #fff;
    margin-left: 10px;
    cursor: pointer;
}

/* Chat Messages */
.chat-message-container{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-size: 18px;
    flex-grow: 1;
    overflow-y: scroll;
}

.chat-message-container::-webkit-scrollbar{
    width: 10px;
}

.chat-message-container::-webkit-scrollbar-track{
    background: #f1f1f1;
    border-radius: 10px;
}

.chat-message-container::-webkit-scrollbar-thumb{
    background: #888;
    border-radius: 10px;
}
.chat-message-robot, .chat-message-user{
    margin: 20px 5px;
    align-items: start;
}
.chat-message-user{
    display: flex;
    justify-content: right;
}

.chat-message-robot{
    display: flex;
    justify-content: left;
}

.chat-message-text{
    background-color: rgb(238, 238, 238);
    padding: 15px 20px;
    border-radius: 10px;
    margin: 0 10px ;
}

.chat-message-profile{
    width: 50px;
}

.welcome-message{
    text-align: center;
    color: gray;
    margin-top: 50%;
}

.spinner{
    margin: -15px;
    height: 40px;
}